@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

$negro: #000;
$blanco: #fff;
$primario: #0066ff;
$prefix: 'social_';
// Dinamic vars
:root {
  --alturaMenu: 50px;
  @include tableta{
    --alturaMenu: 90px;
  }
}

body{
  overflow-x: hidden;
  color: #666;
  padding: 0;
  margin: 0 auto;
  margin-top: var(--alturaMenu);
  &.shadowLayer{
    &:after{
      opacity: 1;
      pointer-events: all;
    }
  }
  *{
    font-family: 'Montserrat', sans-serif;
  }
  p{
    margin: 0;
    @include celular{
      letter-spacing: 0 !important;
    }
  }
  a {
    text-decoration: none;
  }
  ul, li{
    list-style-type: none;
  }
  &:after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    background: rgba($negro,.8);
    pointer-events: none;
    transition: ease all .3s;
  }
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba($negro,.3);
  box-shadow: inset 0 0 6px rgba($negro,.3);
  background: #cbcbcb;
}

//Generales
.#{$prefix}blurred{
  filter: blur(3px);
}
.#{$prefix}opacity{
  opacity: .3;
}


.#{$prefix}header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  height: var(--alturaMenu);
  background-color: $blanco;
  box-shadow: 0px 10px 20px 0 rgba($negro,.1);
  z-index: 1000;
  .#{$prefix}container{
    @include container;
    @include flex(row, nowrap, center, space-between, center);
    .contenedorLogo{
      width: 200px;
      .logo{
        @include imagen($medida: contain, $posicion: left);
        display: block;
        width: 180px;
        height: 40px;
        margin: 5px 0;
      }
    }
    .buscador{
      @include flex(row, nowrap, center, center, center);
      width: calc(100% - 500px - 40px);
      margin: 0 20px;
      padding: 5px 10px;
      border-radius: 20px;
      border: 1px solid rgba($negro,.1);
      .icono{
        width: 20px;
        height: 20px;
      }
      input{
        width: calc(100% - 24px);
        padding: 0 0 0 10px;
        margin: 0;
        border: 0;
        outline: none;
        font-weight: 600;
        background-color: transparent;
        &::placeholder{
          font-weight: 600;
        }
      }
    }
    .menusAcciones{
      @include flex(row, nowrap, center, space-between, center);
      width: 300px;
      height: var(--alturaMenu);
      .accion, .menuR{
        position: relative;
        &.activ{
          color: $primario;
          &:after{
            width: 100%;
          }
        }
        &:after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 0;
          height: 2px;
          background-color: $primario;
          transition: ease all .3s;
        }
      }
      .accion{
        @include flex(column, nowrap, center, center, center);
        height: 100%;
        &.usuario{
          margin-left: 20px;
          .lanzadorDrop{
            @include flex(row, nowrap, center, center, center);
            .imgUsuario{
              @include imagen('', cover);
              width: 30px;
              height: 30px;
              margin-right: 5px;
              border-radius: 50%;
              box-shadow: 0 0 1px 0 $negro;
            }
            .nombreUsuario{
              @include ellipsis;
              font-size: 14px;
              font-weight: 600;
              max-width: 100px;
            }
          }
        }
        &:not(.usuario){
          .lanzadorDrop{
            width: 20px;
            height: 20px;
          }
        }
        .lanzadorDrop{
          cursor: pointer;
          .icono{
            width: 20px;
            height: 20px;
          }
        }
        .contenidoDrop{
          display: none;
        }
      }
      .menuR{
        @include flex(column, nowrap, center, center, center);
        width: 20px;
        height: 100%;
        cursor: pointer;
        display: none;
        .icono{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  @include responsivo(1050px){
    .#{$prefix}container{
      .menusAcciones{
        .accion{
          &.configuracion{
            display: none;
          }
        }
        .menuR{
          display: flex;
        }
      }
    }
  }
  @include tableta{
    .#{$prefix}container{
      flex-wrap: wrap;
      .contenedorLogo{
        width: 140px;
        .logo{
          width: 100%;
          height: 30px;
          margin: 10px 0;
        }
      }
      .buscador{
        width: 100%;
        margin: 0;
        order: 1;
      }
      .menusAcciones{
        height: auto;
        .accion, .menuR{
          &:after{
            display: none;
          }
        }
      }
    }
  }
  @include responsivo(550px){
    z-index: 1001;
    .#{$prefix}container{
      .menusAcciones{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: $blanco;
        box-shadow: 0 -10px 20px 0 rgba($negro,.1);
        .accion, .menuR{
          &:after{
            display: block;
            top: 0;
            bottom: auto;
            height: 4px;
          }
        }
        .accion{
          &.usuario{
            position: fixed;
            top: 25px;
            right: 5%;
            height: auto;
            transform: translateY(-50%);
            .lanzadorDrop{
              .nombreUsuario{
                max-width: 150px;
              }
            }
          }
          &:not(.usuario){
            flex-grow: 1;
            border-right: 1px solid rgba($negro,.1);
          }
        }
        .menuR{
          flex-grow: 1;
        }
      }
    }
  }
}
.#{$prefix}principal{
  @include container(100%);
  .#{$prefix}container{
    @include container;
    @include flex(row, nowrap, flex-start, space-between, center);
    padding: 20px 0;
    .menuIzq, .menuDer{
      .contenedor{
        position: fixed;
        height: calc(100% - 90px);
        .grupo{
          &:not(:last-child){
            margin-bottom: 30px;
          }
        }
      }
    }
    .menuIzq{
      width: 200px;
      .contenedor{
        @include scrollbars(0);
        width: 200px;
        padding: 20px 10px;
        border-radius: 20px;
        box-shadow: 0 2px 10px 0 rgba($negro,.1);
        box-sizing: border-box;
        overflow: auto;
        .grupo{
          .titulo{
            padding-bottom: 10px;
            font-weight: 600;
          }
          .enlacesGrupo{
            li{
              padding: 5px 0;
              width: fit-content;
              &:hover{
                a{
                  color: $negro;
                }
              }
              a{
                @include flex(row, nowrap, center, flex-start, center);
                color: #9b9b9b;
                font-size: 14px;
                font-weight: 600;
                transition: ease all .5s;
                .icono{
                  width: 15px;
                  height: 15px;
                  min-width: 15px;
                  margin-right: 10px;
                }
                span{
                  @include ellipsis;
                }
              }
            }
          }
        }
      }
    }
    .contenido{
      width: calc(100% - 500px - 40px);
      margin: 0 20px;
      transition: ease all .3s;
      .publicador{
        width: 100%;
        .contenedorPublicador{
          @include flex(row, wrap, flex-start, center, center);
          width: 100%;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 2px 10px 0 rgba($negro,.1);
          box-sizing: border-box;
          .avatar{
            @include imagen('', cover);
            width: 50px;
            height: 50px;
            min-width: 50px;
            margin-right: 10px;
            border-radius: 50%;
            box-shadow: 0 0 1px 0 $negro;
          }
          .redactor{
            width: calc(100% - 60px);
            margin: auto;
            border: 0;
            outline: none;
            cursor: text;
            &:empty{
              &:before{
                content: attr(data-placeholder);
                color: #9b9b9b;
              }
            }
          }
          .acciones{
            @include flex(row, nowrap, center, center, center);
            width: 100%;
            margin-top: 20px;
            .accion{
              @include flex(row, nowrap, center, center, center);
              margin-right: 10px;
              padding: 5px 10px;
              font-size: 12px;
              font-weight: 600;
              border-radius: 20px;
              background-color: #f1f1f1;
              position: relative;
              cursor: pointer;
              &:after{
                content: attr(data-texto);
              }
              &.foto{
                input{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  margin: 0;
                  padding: 0;
                  opacity: 0;
                  font-size: 0;
                  cursor: pointer;
                }
              }
              &.publicar{
                margin-right: 0;
                margin-left: auto;
                padding: 7px 15px;
                color: $blanco;
                background-color: $primario;
              }
              .icono{
                width: 15px;
                height: 15px;
                margin-right: 5px;
              }
            }
          }
        }
      }
      .contenedorPublicaciones{
        width: 100%;
        margin-top: 30px;
        .publicacion{
          width: 100%;
          padding: 20px;
          margin-bottom: 20px;
          border-radius: 10px;
          box-shadow: 0 2px 10px 0 rgba($negro,.1);
          position: relative;
          box-sizing: border-box;
          cursor: default;
          &.blur{
            .datos, .contPub, .indicadores, .interaccion{
              filter: blur(2px);
              pointer-events: none;
            }
          }
          .menu{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 24px;
            height: 24px;
            z-index: 10;
            cursor: pointer;
            .contenidoMenu{
              position: absolute;
              right: 0;
              top: 100%;
              width: 150px;
              padding: 10px;
              border-radius: 10px;
              background-color: $blanco;
              box-shadow: 0 0 10px 0 rgba($negro,.2);
              display: none;
              &:hover{
                .opcion{
                  opacity: .5;
                }
              }
              .opcion{
                padding: 5px 0;
                text-align: right;
                font-size: 14px;
                font-weight: 600;
                transition: ease all .5s;
                &:hover{
                  opacity: 1;
                }
              }
            }
          }
          .datos{
            @include flex(row, nowrap, center, center, center);
            margin-bottom: 10px;
            margin-right: 30px;
            transition: ease all .5s;
            .avatar{
              @include imagen('', cover);
              width: 50px;
              height: 50px;
              min-width: 50px;
              margin-right: 10px;
              border-radius: 50%;
              box-shadow: 0 0 1px 0 $negro;
              box-sizing: border-box;
              &.activo{
                border: 2px solid $primario;
              }
            }
            .textos{
              width: calc(100% - 60px);
              p{
                font-weight: 600;
                &.nombre{
                  color: $negro;
                }
                &.datetime{
                  color: #9b9b9b;
                  font-size: 12px;
                }
              }
            }
          }
          .contPub{
            margin-bottom: 30px;
            font-size: 14px;
            color: $negro;
            transition: ease all .5s;
            .imgPub{
              @include flex(row, nowrap, center, center, center);
              width: 100%;
              img{
                width: 100%;
                max-width: 100%;
                margin: 10px auto 0 auto;
                border-radius: 10px;
              }
            }
          }
          .indicadores{
            @include flex(row, nowrap, center, flex-end, center);
            margin-bottom: 5px;
            transition: ease all .5s;
            .ind{
              @include flex(row, nowrap, center, center, center);
              margin-left: 10px;
              font-size: 12px;
              font-weight: 600;
              color: #9b9b9b;
              position: relative;
              .imgReac{
                @include imagen('', cover);
                position: absolute;
                left: -25px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid $blanco;
                @for $i from 1 through 10{
                  &:nth-child(#{$i}){
                    transform: translateX(-($i * 10px) + 10px);
                  }
                }
              }
              .num{
                margin-right: 3px;
              }
            }
          }
          .interaccion{
            @include flex(row, nowrap, center, flex-start, center);
            transition: ease all .5s;
            .int{
              @include flex(row, nowrap, center, center, center);
              margin-right: 20px;
              font-size: 14px;
              font-weight: 600;
              color: #9b9b9b;
              position: relative;
              cursor: pointer;
              transition: ease all .5s;
              &.reacLike{
                color: $primario;
                &:hover{
                  color: $primario;
                }
              }
              &.reacLove, &.reacEnoja, &.reacEmperra{
                color: red;
                &:hover{
                  color: red;
                }
              }
              &.reacDivierte, &.reacSorprende, &.reacTriste{
                color: #FF9800;
                &:hover{
                  color: #FF9800;
                }
              }
              &:hover{
                color: $negro;
              }
              .icono{
                width: 15px;
                height: 15px;
                margin-right: 5px;
              }
              .ic{
                @include imagen('', cover);
                width: 15px;
                height: 15px;
                margin-right: 5px;
                &.reacLike{
                  background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/7.png);
                }
                &.reacLove{
                  background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/6.png);
                }
                &.reacDivierte{
                  background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/2%28copia%291.png);
                }
                &.reacSorprende{
                  background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/4%28copia%291.png);
                }
                &.reacTriste{
                  background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/5.png);
                }
                &.reacEnoja{
                  background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/1%28copia%291.png);
                }
                &.reacEmperra{
                  background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/3%28copia%291.png);
                }
              }
            }
          }
          .redactComent{
            @include flex(row, nowrap, flex-end, center, center);
            width: 100%;
            margin-top: 20px;
            .iconos{
              @include flex(row, nowrap, center, center, center);
              min-height: 30px;
              .icono{
                width: 18px;
                height: 18px;
                min-width: 18px;
                margin-right: 10px;
                cursor: pointer;
                &:last-child{
                  margin-right: 0;
                }
                .ico{
                  width: 18px;
                  height: 18px;
                }
              }
            }
            .input{
              flex-grow: 1;
              margin: 0 10px;
              padding: 5px 10px;
              border: 0;
              outline: none;
              border-radius: 20px;
              border: 1px solid rgba($negro,.1);
              box-sizing: border-box;
              word-break: break-word;
              cursor: text;
              &:empty{
                &:before{
                  content: attr(data-placeholder);
                  color: #9b9b9b;
                }
              }
            }
            .enviar{
              @include flex(column, nowrap, center, center, center);
              width: 30px;
              height: 30px;
              min-width: 30px;
              opacity: .5;
              border-radius: 50%;
              pointer-events: none;
              cursor: pointer;
              transition: ease all .5s;
              &.activo{
                opacity: 1;
                color: $blanco;
                background-color: $primario;
                pointer-events: all;
              }
              .icono{
                width: 18px;
                height: 18px;
              }
            }
          }
          .comentarios{
            display: none;
            .comentario{
              margin: 20px 0;
              .datos{
                margin-right: 0;
                .avatar{
                  width: 30px;
                  height: 30px;
                  min-width: 30px;
                }
                .textos{
                  width: calc(100% - 40px);
                  .nombre{
                    font-size: 14px;
                  }
                }
              }
              .contPub{
                margin-bottom: 0;
                margin-left: 40px;
              }
            }
          }
        }
      }
    }
    .menuDer{
      width: 300px;
      .contenedor{
        width: 300px;
        .contenedorChat{
          @include scrollbars(1px, transparent);
          max-height: 340px;
          margin-top: 10px;
          padding-right: 10px;
          overflow: auto;
          transition: ease all .5s;
        }
        .grupo{
          padding: 20px 10px;
          border-radius: 20px;
          box-shadow: 0 2px 10px 0 rgba($negro,.1);
          box-sizing: border-box;
          &.chat{
            .indicador{
              @include flex(row, nowrap, center, flex-end, center);
              width: 100%;
              font-size: 14px;
              font-weight: 600;
              text-align: right;
              &:before{
                content: "";
                width: 10px;
                height: 10px;
                margin-right: 5px;
                border-radius: 50%;
                background-color: green;
              }
              &:after{
                content: "("attr(data-online)")";
                margin-left: 5px;
                font-size: 12px;
              }
            }
          }
          .header{
            @include flex(row, nowrap, center, space-between, center);
            padding-bottom: 10px;
            font-weight: 600;
            .titulo{
              @include ellipsis;
              font-size: 18px;
            }
            .icono{
              min-width: 24px;
              margin-left: 10px;
            }
          }
          .contenedorHistorias{
            @include flex(row, nowrap, flex-start, flex-start, center);
            overflow-x: auto;
            .historia{
              width: 90px;
              min-width: 90px;
              padding: 0 10px;
              box-sizing: border-box;
              &.crear{
                .preview{
                  @include flex(column, nowrap, center, center, center);
                  position: relative;
                  background-blend-mode: soft-light;
                  background-color: rgba($negro,.3);
                  &:before, &:after{
                    content: "";
                    position: absolute;
                    background-color: $blanco;
                  }
                  &:before{
                    width: 20px;
                    height: 2px;
                  }
                  &:after{
                    width: 2px;
                    height: 20px;
                  }
                  .avatar{
                    display: none;
                  }
                }
              }
              .preview{
                @include flex(column, nowrap, center, flex-end, center);
                @include imagen('', cover);
                width: 100%;
                height: 100px;
                border-radius: 10px;
                margin-bottom: 25px;
                box-shadow: 0 5px 20px 0 rgba($negro,.3);
                .avatar{
                  @include imagen('', cover);
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  border: 3px solid $primario;
                  background-color: $blanco;
                  transform: translateY(50%);
                }
              }
              p{
                @include ellipsisParrafo(2);
                color: $negro;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
              }
            }
          }
          .contenedorChat{
            .usuario{
              @include flex(row, nowrap, center, flex-start, center);
              padding: 5px 0;
              opacity: .5;
              cursor: pointer;
              &.activo{
                opacity: 1;
                .avatar{
                  position: relative;
                  &:after{
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: -2px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 2px solid $blanco;
                    background-color: green;
                  }
                }
              }
              .avatar{
                @include imagen('', cover);
                width: 35px;
                height: 35px;
                min-width: 35px;
                border-radius: 50%;
                margin-right: 10px;
                box-shadow: 0 0 1px 0 $negro;
              }
              .nombre{
                @include ellipsis;
                width: calc(100% - 45px - 70px);
                font-size: 14px;
                font-weight: 600;
              }
              .acciones{
                @include flex(row, nowrap, center, space-between, center);
                width: 60px;
                margin-left: 10px;
                .icono{
                  width: 20px;
                  height: 20px;
                  transition: ease all .5s;
                  &:hover{
                    color: $primario;
                  }
                }
              }
            }
          }
        }
      }
    }
    @include responsivo(1150px){
      .contenido{
        width: calc(100% - 450px - 40px);
      }
      .menuDer{
        width: 250px;
        .contenedor{
          width: 250px;
        }
      }
    }
    @include responsivo(1050px){
      flex-direction: column-reverse;
      .menuIzq{
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        padding: 70px 10px 50px 10px;
        background-color: $blanco;
        z-index: 1000;
        box-sizing: border-box;
        overflow-y: auto;
        transform: rotateY(180deg);
        box-shadow: 10px 0 25px 5px rgba($negro,.2);
        transition: ease left .3s;
        &.activ{
          left: 0;
        }
        .contenedor{
          position: relative;
          width: 100%;
          height: auto;
          padding: 0;
          transform: rotateY(180deg);
          box-shadow: none;
          border-radius: 0;
        }
      }
      .contenido{
        width: 100%;
        margin: 0;
      }
      .menuDer{
        margin: 20px auto 50px auto;
        width: auto;
        max-width: 100%;
        .contenedor{
          position: relative;
          height: auto;
          width: 100%;
          .grupo{
            &:not(:last-child){
              margin-bottom: 0;
            }
            &.chat{
              position: fixed;
              top: 0;
              right: -250px;
              width: 250px;
              height: 100%;
              padding: 70px 10px 50px 10px;
              background-color: $blanco;
              border-radius: 0;
              box-sizing: border-box;
              overflow-y: auto;
              z-index: 1000;
              box-shadow: 10px 0 25px 5px rgba($negro,.2);
              transition: ease right .3s .1s;
              &.activ{
                right: 0;
                transition-delay: 0s;
              }
            }
            .contenedorHistorias{
              .historia{
                width: 120px;
                min-width: 120px;
                .preview{
                  height: 150px;
                }
                p{
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
    @include responsivo(550px){
      .menuIzq{
        padding-top: calc(var(--alturaMenu) + 20px);
        padding-bottom: 70px;
      }
      .contenido{
        .publicador{
          margin-bottom: 50px;
          .contenedorPublicador{
            position: relative;
            .acciones{
              justify-content: flex-start;
              .accion{
                &.publicar{
                  position: absolute;
                  bottom: 0;
                  right: 20px;
                  width: 30px;
                  height: 30px;
                  padding: 10px;
                  border-radius: 50%;
                  transform: translateY(50%);
                  &:after{
                    display: none;
                  }
                  .icono{
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    @include tableta{
      .contenido{
        .contenedorPublicaciones{
          .publicacion{
            .interaccion{
              margin-top: 30px;
              justify-content: space-between;
              .int{
                margin: 0;
              }
            }
          }
        }
      }
    }
    @include celular{
      .contenido{
        .publicador{
          .contenedorPublicador{
            .avatar{
              display: none;
            }
            .redactor{
              width: 100%;
            }
            .acciones{
              .accion{
                padding: 12px;
                &:after{
                  display: none;
                }
                .icono{
                  width: 18px;
                  height: 18px;
                  margin: 0;
                }
              }
            }
          }
        }
        .contenedorPublicaciones{
          .publicacion{
            .datos{
              .avatar{
                width: 30px;
                height: 30px;
                min-width: 30px;
              }
              .textos{
                width: calc(100% - 40px);
                p{
                  &.nombre{
                    font-size: 12px;
                  }
                  &.datetime{
                    font-size: 10px;
                  }
                }
              }
            }
            .contPub{
              font-size: 12px;
            }
            .indicadores{
              justify-content: center;
              .ind{
                flex-direction: column;
                &:first-child{
                  margin-left: 0;
                }
                .imgReac{
                  display: none;
                }
                .num{
                  margin-right: 0;
                }
              }
            }
            .interaccion{
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
.#{$prefix}responsiveLaunchers{
  display: none;
  .#{$prefix}container{
    .launcherXhat{
      @include flex(column, nowrap, center, center, center);
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      color: $blanco;
      border-radius: 50%;
      background-color: $primario;
      z-index: 100;
      cursor: pointer;
      transition: ease all .3s;
      &.activ{
        right: 270px;
        z-index: 1000;
        transition-delay: .1s;
        .icono{
          opacity: 0;
          &.close{
            opacity: 1;
          }
        }
      }
      .icono{
        position: absolute;
        transition: ease all .3s;
        &.close{
          opacity: 0;
        }
      }
    }
  }
  @include responsivo(1050px){
    display: block;
  }
  @include responsivo(550px){
    display: none;
  }
}

.interaccionReacciones{
  @include flex(row, nowrap, center, center, center);
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  padding: 0 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgba($negro,.2);
  background-color: $blanco;
  overflow: hidden;
  z-index: 10;
  &.anim{
    .icoReacc{
      opacity: 1;
      transform: translateX(0);
      &.like{
        transition-delay: 0s;
      }
      &.love{
        transition-delay: .1s;
      }
      &.divierte{
        transition-delay: .2s;
      }
      &.sorprende{
        transition-delay: .3s;
      }
      &.entristece{
        transition-delay: .4s;
      }
      &.enoja{
        transition-delay: .5s;
      }
      &.emperra{
        transition-delay: .6s;
      }
    }
  }
  .icoReacc{
    @include imagen('', contain);
    width: 25px;
    height: 25px;
    margin: 5px;
    opacity: 0;
    transform: translateX(-100%);
    transition: ease all .5s;
    &.like{
      background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/7.png);
    }
    &.love{
      background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/6.png);
    }
    &.divierte{
      background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/2%28copia%291.png);
    }
    &.sorprende{
      background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/4%28copia%291.png);
    }
    &.entristece{
      background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/5.png);
    }
    &.enoja{
      background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/1%28copia%291.png);
    }
    &.emperra{
      background-image: url(https://pruebadvi.s3.amazonaws.com/Consultora%20Mexicana%20de%20Negocios/Consutora%20Mexicana/DVCUP16172/Banco%20de%20imagenes/dvidev778/3%28copia%291.png);
    }
  }
}
